<launch>

    <node pkg="dummy_robot" type="dummy_robot_node" name="dummy_robot_node" output="screen" respawn="true">
        <remap from="odom" to="odom"/>
        <remap from="cmd_vel" to="smoother_cmd_vel"/>
        <param name="frame_id" value="odom"/>
        <param name="child_frame_id" value="base_link"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map3d_to_map"  args="0 0 0 0   0    0 /map    /odom 10" />
</launch>
