<?xml version="1.0"?>
<launch>
    <arg name="mapping" default="" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="lidar_to_base_link" args="0.25 0 0 0 0 0        base_link laser   20" /> -->

    <!--localization-->
    <group>
        <node name="world_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world map 10.0" />

        <!--amcl-->
        <arg name="amcl_update_frequency" default="5.0" />
        <arg name="amcl_update_min_d" default="0.2" if="$(eval amcl_update_frequency == 0.0)" />
        <arg name="amcl_update_min_d" default="999999.9" if="$(eval amcl_update_frequency != 0.0)" />
        <arg name="amcl_update_min_a" default="0.2" if="$(eval amcl_update_frequency == 0.0)" />
        <arg name="amcl_update_min_a" default="999999.9" if="$(eval amcl_update_frequency != 0.0)" />
        <arg name="amcl_odom_model" default="diff-corrected" if="$(eval amcl_update_frequency == 0.0)" />
        <arg name="amcl_odom_model" default="omni-corrected" if="$(eval amcl_update_frequency != 0.0)" />
        <arg name="amcl_odom_alpha" default="0.005" if="$(eval amcl_update_frequency == 0.0)" />
        <arg name="amcl_odom_alpha" default="0.05" if="$(eval amcl_update_frequency != 0.0 and mapping == '')" />
        <arg name="amcl_odom_alpha" default="0.001" if="$(eval amcl_update_frequency != 0.0 and mapping != '')" />

        <node name="amcl_updater" pkg="amcl_updater" type="amcl_updater" output="screen"  respawn="true">
            <rosparam subst_value="true">
            call_frequency: $(arg amcl_update_frequency)
            </rosparam>
        </node>

        <node name="amcl" pkg="amcl" type="amcl" output="screen">
            <remap from="initialpose" to="/initialpose" />
            <remap from="scan" to="scan1"  />
            <rosparam subst_value="true">
            min_particles: 2000 #1000
            max_particles: 5000 #10000
            laser_min_range: 0.3 #0.1
            laser_max_range: 20.0
            laser_max_beams: 250 #30 #200
            recovery_alpha_slow: 0.0
            recovery_alpha_fast: 0.0
            update_min_d: $(arg amcl_update_min_d)
            update_min_a: $(arg amcl_update_min_a)
            use_map_topic: true
            laser_sigma_hit: 0.01
            laser_model_type: likelihood_field #likelihood_field_prob
            odom_model_type: $(arg amcl_odom_model)
            odom_alpha1: $(arg amcl_odom_alpha)
            odom_alpha2: $(arg amcl_odom_alpha)
            odom_alpha3: $(arg amcl_odom_alpha)
            odom_alpha4: $(arg amcl_odom_alpha)
            odom_alpha5: $(arg amcl_odom_alpha)
            global_frame_id: "map"
            odom_frame_id: "slam"
            base_frame_id: "base_link"
            tf_broadcast: true
            save_pose_rate: 10
            </rosparam>
        </node>


        <!-- <node name="double_localization_manager" pkg="rosbridge_system" type="double_robot_localization.py" output="screen"  respawn="true" >
            <remap from="amcl_pose" to="amcl_pose" />
            <rosparam subst_value="true">
            amcl_supply_error: 0.1 #0.3
            amcl_relocation_error: 0.2 #0.5
            correct_distance: 5
            reflection_supply_error: 0.3
            reflection_relocation_error: 0.5
            reflection_correct_distance: 5
            jump: 1.0
            either_or: true
            </rosparam>
        </node> -->
    </group>
    <!--mapping-->
    <node name="slam2_odom" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 slam odom 20" />

    <!-- <node name="ekf_node_global" pkg="robot_localization" type="ekf_localization_node" clear_params="true"  >
        <remap from="odometry/filtered" to="global_pose" />
        <remap from="set_pose" to="set_pose_global" />
        <rosparam command="load" file="$(find localization)/scripts/pose_ekf_global.yaml"/>
        <param name="publish_tf" value="true" />
    </node> -->

    <!-- <node name="ekf_node_odom" pkg="robot_localization" type="ekf_localization_node" clear_params="true"  >
        <remap from="odometry/filtered" to="odom_ekf" />
        <rosparam command="load" file="$(find localization)/scripts/odom.yaml"/>
        <param name="publish_tf" value="true" />
    </node> -->

</launch>
