<launch>

  <!--启动irobot机器人-->

   <include file="$(find robot_pose_publisher)/launch/robot_pose.launch"></include>
   <include file="$(find pointcloud_to_laserscan)/launch/laserscan_to_pointcloud_node.launch"></include>
   <include file="$(find link_visual)/launch/link_visual.launch"></include>
   <include file="$(find laser_avoidance)/launch/laser_avoidance.launch"></include>
   <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"></include>
   <include file="$(find remote_control)/launch/remote_control.launch"></include>
   <include file="$(find cmd_vel_mux)/launch/cmd_vel_mux.launch"></include>

  <node pkg="tf" type="static_transform_publisher" name="base2link" args="0 0 0 0 0 0    base_link link_1   25" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_launch)/maps/map.yaml" >
    <remap from="map" to="map" />
    <param name="frame_id" value="map"/>
  </node>
  
  <include file="$(find pose_init)/launch/pose_init.launch"></include>
  <include file="$(find cartographer_ros)/launch/odom.launch"></include>
  <include file="$(find localization)/launch/location.launch"></include>

   <include file="$(find navigation_plan)/launch/navigation.launch"></include>
  <include file="$(find motion_control)/launch/motion_control_indoor.launch"></include> 

  <!-- View in rviz -->
  <node name="ai_rviz" pkg="rviz" type="rviz"  args="-d $(find robot_launch)/rviz/gui.rviz"  />

</launch>
